body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

ul.react-paginate {
    justify-content: center;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;
    padding: 0;
    margin: 0;
}

ul.react-paginate li a {
    border-radius: 7px;
    padding: 0.1rem 1rem;
    border: gray 1px solid;
    cursor: pointer;
}
ul.react-paginate li.previous a,
ul.react-paginate li.next a,
ul.react-paginate li.break a {
    border-color: transparent;
}
ul.react-paginate li.selected a {
    background-color: #0366d6;
    border-color: transparent;
    color: white;
    min-width: 32px;
}
ul.react-paginate li.disabled a {
    color: grey;
}
ul.react-paginate li.disable,
ul.react-paginate li.disabled a {
    cursor: default;
}

#navigation a.active {
    color: blue;
}
